@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Open+Sans+Condensed:ital,wght@1,300&family=Oswald:wght@200&family=Pattaya&display=swap');

html,body
{
    padding: 0;
    margin: 0;
    color: #285A84;
    background-color: #f7f7f7;
    overflow-x:hidden ;
    
}

header
{
    height: 20vh;    
    background-image: linear-gradient(to right bottom,#5EA669,rgba(8, 85, 59, 0.8)),url('../images/headerImg.png');
    background-size: cover;
    background-position: top;
    position: relative;
    display: block;
   
    clip-path: polygon(0 0 ,100% 0 ,100% 20vh ,0 100%);
    text-align: center;
}
#logo
{
  text-align: left;
  width: 40%;
}
 .logo img
{
    width: 8rem;
    font-family: 'Pattaya', sans-serif;
    color: #fff;
    
}

header #navbarContainer li
{
    display: inline-block;
    margin: .0rem .5rem;
    font-size: .9rem;
    /* background-color: #fff;
    padding: .8rem;
    border-radius: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700; */
    
}
#navbarContainer
{
  display: flex;
}
header #navbarContainer ul
{
  text-align: right;
  width: 60%;
  padding-top: 18px;
}
.para-title
{
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 6rem;
    text-transform: uppercase;
}
.header-para
{
    color:#fff ;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-align: justify;
    margin-left:28%;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 2px;

    
    
}
.space
{
    margin-right: 100px;
}
#navbarContainer li a
{
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  right: 50px;
  font-size: .8rem;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #777;
  font-weight: bolder;
  font-family: 'Nunito Sans', sans-serif;
  color: #285A84;
}
#navbarContainer li a:hover
{
  background-color:rgba(40,180,133,0.8) ;
    animation: moveInBottom 0.5s ease-in-out infinite both;
    color: #fff;
    padding: 10px 40px;
}



@keyframes moveInBottom {
    0% {
        box-shadow: 0 0 20px 0px #fff;
                
      }
      50% {
        
        box-shadow: 0 0 10px 0px #fff;
      }
      100% {
        
        box-shadow: 0 0 20px 0px #fff;
      }
    
}
.header-btn button:active
{
    animation: none;
    border: 1px solid #fff;
    padding: 10px 15px;
}
/* ----------------------------------------------------------- */
/* ------------------------------------------------------- */
  
footer
{
    height: 37vh;    
    background-size: cover;
    background-image: linear-gradient(to right bottom,#5EA669,rgba(8, 85, 59, 0.8));
    
    position: relative;
    display: block;
    clip-path: polygon(0 30% ,100% 0 ,100% 100% ,0 100%);
    overflow: hidden;
    
    z-index: 80;
   text-align: center;
    color:#4b4c4d;
}
.footer-basic #footer-logo
{
    margin-top: 3rem;
    font-size: 30px;
    font-family: 'Pattaya', sans-serif;
    color: #fff;
    width: 100%;
}
.center
{
  text-align: center;
  margin-left: 33rem;
  
}
  

  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    margin-top: 2rem;
  }
  
  .footer-basic .social  a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-basic .social  a:hover {
    opacity:0.9;
    transform: scale(1.5);
  }
  
  .footer-basic .copyright {
    margin-top:5px;
    text-align:center;
    font-size:13px;
    color:rgb(231, 231, 231);
    margin-bottom:0;
  }

  .main-image{
    width:100%;
    height:350px;
   display: inline;
   margin-top: .8px;

  }


 



  @import url(http://fonts.googleapis.com/css?family=Concert+One);

#firsthead{
  
  
    width: 100%;
    text-align: center;
    margin-top: 20px;
   color:white;
    margin-top:-30px;
  
  animation:glow 10s ease-in-out infinite;
  
  

/* For less laggy effect, uncomment this:
  
  animation:none;
  -webkit-text-stroke:1px #fff; 
  
=========== */
  
}







figure {
  animation:wobble 5s ease-in-out infinite;
  transform-origin:center center;
  transform-style:preserve-3d;
}

@keyframes wobble {
  0%,100%{ transform:rotate3d(1,1,0,40deg); }
  25%{ transform:rotate3d(-1,1,0,40deg); }
  50%{ transform:rotate3d(-1,-1,0,40deg); }
  75%{ transform:rotate3d(1,-1,0,40deg); }
}



@keyframes glow {
  0%,100%{ text-shadow:0 0 30px red; }
  25%{ text-shadow:0 0 30px orange; }
  50%{ text-shadow:0 0 30px black; }
  75%{ text-shadow:0 0 30px cyan; }
}

/*//------------Form----------- */

/* #form  {
  text-align: center;
  margin: 0 auto;
} */



.name1  {
  text-align: center;
  font-size: larger;
  margin-left: 200px;
  /* color: black; */
  font-weight: 800;
}


.email2  {
  text-align: center;
  font-size: larger;
  margin-left: 200px;
  /* color: black; */
  font-weight: 800;
}

.center1  {
  text-align: center;
  font-size: larger;
  margin-left: 170px;
  /* color: black; */
  font-weight: 800;
}


main form input ::placeholder {
  color: gray;
  padding-left: 20px;
}



  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }

  input[type=number], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }

  input[type=email], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }

  input[type=date], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  input[type=submit] {
    width: 50%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

 .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left: 550px;
  }

  .h2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left: 90px;
    text-align: center;
  } 


  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Open+Sans+Condensed:ital,wght@1,300&family=Oswald:wght@200&family=Pattaya&display=swap');

html,body
{
    padding: 0;
    margin: 0;
    color: #285A84;
    background-color: #f7f7f7;
    overflow-x:hidden ;
    
}

header
{
    height: 20vh;    
    background-image: linear-gradient(to right bottom,#5EA669,rgba(8, 85, 59, 0.8)),url('../images/headerImg.png');
    background-size: cover;
    background-position: top;
    position: relative;
    display: block;
   
    clip-path: polygon(0 0 ,100% 0 ,100% 20vh ,0 100%);
    text-align: center;
}
#logo
{
  text-align: left;
  width: 40%;
}
 .logo img
{
    width: 8rem;
    font-family: 'Pattaya', sans-serif;
    color: #fff;
    
}

header #navbarContainer li
{
    display: inline-block;
    margin: .0rem .5rem;
    font-size: .9rem;
    /* background-color: #fff;
    padding: .8rem;
    border-radius: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700; */
    
}
#navbarContainer
{
  display: flex;
}
header #navbarContainer ul
{
  text-align: right;
  width: 60%;
  padding-top: 18px;
}
.para-title
{
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 6rem;
    text-transform: uppercase;
}
.header-para
{
    color:#fff ;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-align: justify;
    margin-left:28%;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 2px;

    
    
}
.space
{
    margin-right: 100px;
}
#navbarContainer li a
{
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  right: 50px;
  font-size: .8rem;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #777;
  font-weight: bolder;
  font-family: 'Nunito Sans', sans-serif;
  color: #285A84;
}
#navbarContainer li a:hover
{
  background-color:rgba(40,180,133,0.8) ;
    animation: moveInBottom 0.5s ease-in-out infinite both;
    color: #fff;
    padding: 10px 40px;
}



@keyframes moveInBottom {
    0% {
        box-shadow: 0 0 20px 0px #fff;
                
      }
      50% {
        
        box-shadow: 0 0 10px 0px #fff;
      }
      100% {
        
        box-shadow: 0 0 20px 0px #fff;
      }
    
}
.header-btn button:active
{
    animation: none;
    border: 1px solid #fff;
    padding: 10px 15px;
}
/* ----------------------------------------------------------- */
/* ------------------------------------------------------- */
  
footer
{
    height: 37vh;    
    background-size: cover;
    background-image: linear-gradient(to right bottom,#5EA669,rgba(8, 85, 59, 0.8));
    
    position: relative;
    display: block;
    clip-path: polygon(0 30% ,100% 0 ,100% 100% ,0 100%);
    overflow: hidden;
    
    z-index: 80;
   text-align: center;
    color:#4b4c4d;
}
.footer-basic #footer-logo
{
    margin-top: 3rem;
    font-size: 30px;
    font-family: 'Pattaya', sans-serif;
    color: #fff;
    width: 100%;
}
.center
{
  text-align: center;
  margin-left: 33rem;
  
}
  

  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    margin-top: 2rem;
  }
  
  .footer-basic .social  a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-basic .social  a:hover {
    opacity:0.9;
    transform: scale(1.5);
  }
  
  .footer-basic .copyright {
    margin-top:5px;
    text-align:center;
    font-size:13px;
    color:rgb(231, 231, 231);
    margin-bottom:0;
  }

  .main-image{
    width:100%;
    height:350px;
   display: inline;
   margin-top: .8px;

  }


 



  @import url(http://fonts.googleapis.com/css?family=Concert+One);

#firsthead{
  
  
    width: 100%;
    text-align: center;
    margin-top: 20px;
   color:white;
    margin-top:-30px;
  
  animation:glow 10s ease-in-out infinite;
  
  

/* For less laggy effect, uncomment this:
  
  animation:none;
  -webkit-text-stroke:1px #fff; 
  
=========== */
  
}







figure {
  animation:wobble 5s ease-in-out infinite;
  transform-origin:center center;
  transform-style:preserve-3d;
}

@keyframes wobble {
  0%,100%{ transform:rotate3d(1,1,0,40deg); }
  25%{ transform:rotate3d(-1,1,0,40deg); }
  50%{ transform:rotate3d(-1,-1,0,40deg); }
  75%{ transform:rotate3d(1,-1,0,40deg); }
}



@keyframes glow {
  0%,100%{ text-shadow:0 0 30px red; }
  25%{ text-shadow:0 0 30px orange; }
  50%{ text-shadow:0 0 30px black; }
  75%{ text-shadow:0 0 30px cyan; }
}

/*//------------Form----------- */

/* #form  {
  text-align: center;
  margin: 0 auto;
} */



.name1  {
  text-align: center;
  font-size: larger;
  margin-left: 200px;
  /* color: black; */
  font-weight: 800;
}


.email2  {
  text-align: center;
  font-size: larger;
  margin-left: 200px;
  /* color: black; */
  font-weight: 800;
}

.center1  {
  text-align: center;
  font-size: larger;
  margin-left: 170px;
  /* color: black; */
  font-weight: 800;
}


main form input ::placeholder {
  color: gray;
  padding-left: 20px;
}



  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }

  input[type=number], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }

  input[type=email], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }

  input[type=date], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  input[type=submit] {
    width: 50%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

 .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left: 550px;
  }

  .h2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left: 90px;
    text-align: center;
  } 